<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="{% url 'intro'%}">Aaron Tutors</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                
        </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('{% static 'assets/img/about-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>
                    <h1>About Us</h1>
                    
                    Welcome to Our Tutoring Agency in Ethiopia!
                    
                    At Aaron Tutors, we are dedicated to providing exceptional tutoring services to students in Ethiopia. Our mission is to empower students to achieve their academic goals and unlock their full potential. With a team of highly qualified and passionate tutors, we strive to make learning an enjoyable and rewarding experience for every student.
                    
                    <h1>Our Commitment</h1>
                    
                    At Aaron Tutors, we understand that every student is unique, with different learning styles, strengths, and areas for improvement. That's why we offer personalized tutoring programs tailored to meet the individual needs of each student. We believe in fostering a supportive and nurturing learning environment where students can thrive and excel.
                    
                     <h1>Why Choose Us?</h1>
                    
                    1. <strong>Qualified Tutors</strong>: Our tutors are highly experienced and hold advanced degrees in their respective fields. They are not only subject matter experts but also skilled in delivering engaging and effective lessons.
                    
                    2. <strong>Customized Approach</strong>: We believe in the power of personalized learning. Our tutors assess each student's strengths and weaknesses and develop customized study plans to address their specific needs.
                    
                    3. <strong>Flexible Options</strong>: We offer flexible tutoring options to accommodate busy schedules. Whether you prefer in-person sessions or online tutoring, we have you covered.
                    
                    4. <strong>Holistic Development</strong>: We go beyond academics and strive to foster holistic development in our students. Our tutors provide mentorship, guidance, and valuable life skills to help students become well-rounded individuals.
                    
                    5. <strong>Positive Learning Environment</strong>: We create a positive and inclusive learning environment where students feel comfortable, motivated, and supported throughout their learning journey.
                    
                    <h3>Contact Us</h3> 
                    
                    Ready to embark on a successful learning journey with us? We would love to hear from you!
                    
                    Address: Mekele Tigray
                    Phone Number: +251 978257960
                    
                    Feel free to reach out to us with any inquiries or to schedule a consultation. Our friendly team is here to assist you and answer any questions you may have.
                    
                    Join us at Aaron Tutors and experience the transformative power of quality tutoring. Let's unlock your academic potential together!
                    
                   </p>
                
        </div>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Brand 2023</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/clean-blog.js' %}"></script>
</body>

</html>